<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div style="text-align: center;">

  <h1>Welcome to my Angular project!</h1>
  <simple-constructor></simple-constructor>
  <app-test></app-test>
  <app-dependency-injection></app-dependency-injection>
  <app-person></app-person>
  <app-class-expressions></app-class-expressions>
  <typescript-expressions></typescript-expressions>
  <piping></piping>
  <app-binding></app-binding>
  <app-two-way></app-two-way>
  <app-structural-directive></app-structural-directive> 
  <app-custom-directive></app-custom-directive> 
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  <h1>The following used the built-in directive, ng-content, to take existing html from between two element tags that use a directive and use that html within a components template.</h1>
  <!-- A custom directive is being applied to the elements below called 'container'-->
  <span *ngFor="let image of images" container title="{{image.title}}" description="{{image.description}}">
    <img src="{{image.src}}" >
  </span>

  <br><br><br>
  <span container>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor indididunt ut labore</p>
  </span>

  <br><br><br>

  <span container>
    <div class="diver"></div>
  </span>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>